.header_section {
    background-image: url("../images/01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(187, 151, 151);
    overflow: hidden
}

.header_section .header_content {
    padding: 10px 0 10px;
    align-items: center;
    position: relative;
    min-height: 70vh;
    display: flex
}

.header_section .header_content h2 {
    margin-bottom: 5px;
    line-height: 56px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: 500
}

.header_section .header_content h3 {
    margin-bottom: 5px;
    line-height: 35px;
    font-weight: 400;
    color: rgb(0, 0, 0)
}

.header_section .header_content p {
    line-height: 28px;
    font-weight: 300;
    max-width: 550px;
    font-size: 16px;
    color: rgb(0, 0, 0)
}

.header_section .header_content ul {
    max-width: 375px;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap
}

.header_section .header_content ul li {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    width: 50%
}

.header_section .header_content ul li a {
    color: rgb(0, 0, 0)
}

.header_section .header_content ul li a:hover {
    text-decoration: underline
}

.header_section .header_content ul li i {
    margin-right: 5px;
    font-size: 17px
}

@media screen and (max-width: 768px) {
    .header_section h2 {
        line-height: 48px !important;
        font-size: 40px !important
    }
}

.title_area {
    margin-top: 0px
}

.title_area h2 {
    font-family: "Poppins", sans-serif;
    line-height: 42px;
    font-weight: 700;
    font-size: 33px;
    color: #000000
}

.title_area p {
    text-decoration: underline;
    margin-bottom: 5px;
    line-height: 21px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(0, 0, 0)
}

.about_section {
    position: relative;
    background: rgb(187, 151, 151);
    padding:50px 0
}

.about_section #single_about {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    top: -75px;
    left: 0
}

.about_section .about_contant {
    padding: 12px 0 25px
}

.about_section .about_contant p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000
}

.about_section .accordion_content:first-child h6 {
    border-top: 1px solid #000000
}

.about_section .accordion_content h6 {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #000000;
    line-height: 20px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    position: relative
}

.about_section .accordion_content h6::after {
    content: "";
    display: inline-block;
    width: 14px;
    background: #000000;
    position: absolute;
    right: 20px;
    height: 2px;
    top: 24px;
    z-index: 999
}

.about_section .accordion_content h6::before {
    content: "";
    display: inline-block;
    width: 2px;
    background: #000000;
    position: absolute;
    right: 26px;
    height: 14px;
    top: 18px;

}

.about_section .accordion_content .card-body {
    padding-left: 0;
    padding-right: 0
}

.about_section .accordion_content:hover h6::after,
.about_section .accordion_content:hover h6.cola,
.about_section .accordion_content:hover h6::before {
    background: #17e228
}

.about_section .accordion_content .collapse {
    position: relative
}

.about_section .accordion_content .collapse.show {
    border-bottom: 1px solid #ebebeb
}

.about_section .accordion_content .collapse.show::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 14px;
    top: -33px;
    right: 26px;
    background: #fff
}

.about_section .accordion_content p {
    font-size: 14px;
    color: #000000;
    line-height: 24px;
    margin: 0
}

.service_section {
    padding: 75px 0;
    background: rgb(0, 0, 0)
}

.service_section .service_contant {
    padding: 12px 0 25px
}

.service_section .service_contant p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000
}

.service_section .list_service {
    background: #000000;
    position: relative;
    min-height: 215px;
    padding: 35px 35px 20px;
    margin-top: 100px
}

.service_section .list_service img {
    position: absolute;
    height: 85px;
    top: -40px;
    left: 35px
}

.service_section .list_service img.vpn {
    height: 82px
}

.service_section .list_service img.social {
    height: 104px;
    top: -54px
}

.service_section .list_service img.cpa {
    height: 94px;
    top: -54px
}

.service_section .list_service img.number {
    height: 75px;
    top: -38px
}

.service_section .list_service img.google {
    height: 94px;
    top: -52px
}

.service_section .list_service a {
    font-family: "Poppins", sans-serif;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 29px;
    margin: 25px 0 6px;
    color: #282828;
    font-weight: 600;
    font-size: 24px
}

.service_section .list_service a:hover {
    color: #000
}

#bkgOverlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    height: 100vh;
    z-index: 9999;
    display: none;
    width: 100%;
    left: 0;
    top: 0
}

#bkgOverlay #close_overly {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999
}

#bkgOverlay .overlay_cover {
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 45px;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0
}

#bkgOverlay #delayedPopup {
    display: inline-block;
    position: relative;
    user-select: none;
    max-width: 720px;
    z-index: 9999999;
    margin: 0;
    width: 100%
}

#bkgOverlay #delayedPopup img {
    max-width: 100%;
    width: 100%
}

#bkgOverlay #delayedPopup #close_btn {
    background: url("../images/icon/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #047cba;
    background-size: 50% 50%;
    border: 2px solid #fff;
    position: absolute;
    border-radius: 50%;
    height: 32px;
    right: -16px;
    z-index: 999;
    opacity: .8;
    width: 32px;
    outline: none;
    top: -16px
}

#bkgOverlay #delayedPopup #close_btn:hover {
    opacity: 1
}

/*# sourceMappingURL=home.css.map */