@import"https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap";
@import"https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap";
@import"https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    font-family: "Rubik", sans-serif;
    color: rgb(37, 35, 35);

}

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none
}

p {
    line-height: 24px;
    font-weight: 300;
    font-size: 15px;
    color: #131212
}

img {
    max-width: 100%;
    width: auto
}

ul,
ol {
    list-style-type: none
}

.contact-nav {
    align-items: center;
    transition: all .1s;
    background: #2f2f2f;
    display: flex;
    height: 45px
}

.contact-nav .cnav-content {
    justify-content: space-between;
    align-items: center;
    display: flex
}

.contact-nav .social_contact {
    align-items: center;
    display: flex;
    margin: 0
}

.contact-nav .social_contact li {
    float: left
}

.contact-nav .social_contact li:last-child a {
    margin-right: 0
}

.contact-nav .social_contact li:last-child a::after {
    display: none
}

.contact-nav .social_contact a {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    font-size: 15px;
    color: rgb(255, 255, 255)
}



.contact-nav .social_contact a::after {
    display: inline-block;
    top: calc(50% - 10px);
    position: absolute;
    background: rgb(255, 253, 253);
    height: 18px;
    right: -15px;
    content: "";
    width: 1px
}

.contact-nav .social_contact a i {
    vertical-align: middle;
    display: inline-block;
    margin-right: 3px;
    margin-top: -1px;
    font-size: 17px
}

.contact-nav .cull-us {
    position: relative;
    margin-left: 30px
}

.contact-nav .cull-us small {
    text-transform: uppercase;
    line-height: 10px;
    margin-top: 4px;
    font-size: 10px;
    display: block;
    color: rgb(173, 61, 61)
}

.contact-nav .cull-us i {
    margin-right: 16px;
    color: rgb(255, 252, 252);
    font-size: 19px;
    vertical-align: middle
}

.contact-nav .cull-us a {
    display: inline-block;
    line-height: 15px;
    font-size: 14px;
    color: rgb(250, 249, 249);
    font-weight: 300
}

.contact-nav .cull-us a:hover {
    text-decoration: underline;
    color: rgb(192, 46, 46)
}

.contact-nav .cull-us::after {
    display: inline-block;
    position: absolute;
    background: rgb(39, 38, 38);
    height: 18px;
    left: 26px;
    content: "";
    width: 1px;
    top: calc(50% - 10px)
}

.contact-nav.active {
    height: 0
}

.navbar {
    transition: all .2s;
    position: relative;
    background: rgb(37, 35, 35);
    padding: 0;
    user-select: none
}

.navbar::after {
    background: rgba(0, 0, 0, .05);
    display: inline-block;
    position: absolute;
    content: "";
    top: 75px;
    left: 0;
    width: 100%;
    height: 1px
}

.navbar .brand {
    margin-right: 25px;
    max-width: 175px;
    width: 100%
}

.navbar .navbar-nav a.nav-link,
.navbar .navbar-nav span.nav-link {
    display: inline-block;
    transition: all .2s;
    position: relative;
    line-height: 75px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    height: 75px;
    padding: 0
}

.navbar .navbar-nav li:first-child a {
    margin-left: 0
}

.navbar .navbar-nav li:last-child a {
    margin-right: 0
}

.navbar .dropdown {
    position: relative
}

.navbar .dropdown .dropdown-menu {
    padding: 8px 20px;
    border-radius: 0;
    background: none;
    border: none
}

.navbar .dropdown .dropdown-menu a {
    font-size: 15px;
    color: #000;
    height: 32px;
    line-height: 32px;
    position: relative
}

.navbar .dropdown .dropdown-menu a:hover {
    color: #047cba
}

@media screen and (min-width: 992px) {

    .navbar .navbar-nav a.nav-link::after,
    .navbar .navbar-nav span.nav-link::after {
        display: inline-block;
        transition: all .2s;
        position: absolute;
        background: #000;
        bottom: 20px;
        height: 1px;
        content: "";
        width: 0;
        left: 0
    }

    .navbar .navbar-nav a.nav-link.active::after,
    .navbar .navbar-nav a.nav-link:hover::after,
    .navbar .navbar-nav span.nav-link.active::after,
    .navbar .navbar-nav span.nav-link:hover::after {
        width: 100%
    }

    .navbar .navbar-collapse {
        justify-content: flex-end;
        display: flex
    }

    .navbar .dropdown span.nav-link:hover::after {
        display: none
    }

    .navbar .dropdown .dropdown-menu {
        box-shadow: rgba(0, 0, 0, .09) 0px 0px 1px 0px, rgba(120, 120, 120, .25) 0px 1px 7px;
        border-top: 3px solid #047cba;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: 0 0 0;
        position: absolute;
        display: block;
        background: rgb(37, 35, 35);
        padding: 12px 15px;
        top: 73px;
        left: 16px;
        transition: all .2s ease-in-out
    }

    .navbar .dropdown .dropdown-menu a {
        white-space: nowrap;
        color: #000
    }

    .navbar .dropdown:hover .dropdown-menu {
        transform: scaleY(1)
    }
}

@media screen and (max-width: 991px) {
    .navbar-expand-lg>.container {
        padding-right: 15px;
        padding-left: 15px
    }

    .navbar {
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        background: #fff
    }

    .navbar .brand img.logo-white {
        display: none
    }

    .navbar .brand img.logo-black {
        display: inline-block
    }

    .navbar .navbar-toggler {
        display: inline-block;
        line-height: 75px;
        font-weight: bold;
        font-size: 30px;
        color: #047cba;
        outline: none;
        border: none;
        height: 75px;
        padding: 0
    }

    .navbar .brand {
        display: block
    }

    .navbar .navbar-nav a.nav-link,
    .navbar .navbar-nav span.nav-link {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #000;
        margin: 0
    }

    .navbar .navbar-nav a.nav-link.active,
    .navbar .navbar-nav a.nav-link:hover,
    .navbar .navbar-nav span.nav-link.active,
    .navbar .navbar-nav span.nav-link:hover {
        color: #047cba
    }

    .navbar .navbar-nav li:first-child a {
        margin-top: 12px
    }

    .navbar .navbar-nav li:last-child a {
        margin-bottom: 12px
    }

    .navbar .dropdown span.nav-link::before {
        background: #000;
        content: "";
        display: inline-block;
        width: 14px;
        height: 2px;
        position: absolute;
        right: 0;
        top: calc(50% - 1px)
    }

    .navbar .dropdown span.nav-link::after {
        display: inline-block;
        position: absolute;
        background: #000;
        height: 14px;
        content: "";
        width: 2px;
        right: 6px;
        top: 13px
    }

    .navbar .dropdown span.nav-link:hover:before,
    .navbar .dropdown span.nav-link:hover:after {
        background: #047cba
    }

    .navbar .dropdown.show span.nav-link {
        color: #047cba
    }

    .navbar .dropdown.show span.nav-link:before {
        background: #047cba
    }

    .navbar .dropdown.show span.nav-link:after {
        display: none
    }

    .navbar .dropdown .dropdown-menu a::after {
        display: inline-block;
        top: calc(50% - 2px);
        position: absolute;
        background: #000;
        left: -20px;
        width: 12px;
        height: 2px;
        content: ""
    }

    .navbar .dropdown .dropdown-menu a:hover {
        color: #047cba
    }

    .navbar .dropdown .dropdown-menu a:hover::after {
        background: #047cba
    }
}

.footer-section {
    background-color: #303030;
    padding: 0 0 0 0
}

.footer-section .contact-info {
    overflow: hidden;
    margin: 25px 0
}

.footer-section .contact-info h5 {
    display: inline-block;
    margin-bottom: 22px;
    position: relative;
    font-weight: 500;
    font-size: 21px;
    color: rgb(37, 35, 35);
}

.footer-section .contact-info h5::before {
    display: inline-block;
    background: rgb(37, 35, 35);
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    left: 110%;
    top: 52%
}

.footer-section .contact-info p {
    margin-bottom: 3px;
    font-size: 15px;
    color: #bcbcbc
}

.footer-section .contact-info p a {
    transition: all .2s;
    color: #bcbcbc
}

.footer-section .contact-info p a:hover {
    text-decoration: underline;
    color: #fff
}

.footer-section .contact-info p i {
    vertical-align: middle;
    margin-right: 6px;
    font-size: 21px
}

.footer-section .contact-info p i.io-18 {
    font-size: 18px
}

.footer-section .contact-info ul {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex
}

.footer-section .contact-info ul li {
    border-left: 1px solid #bcbcbc;
    padding: 5px 0 5px 12px;
    display: inline-block;
    margin-left: 3px;
    font-size: 15px;
    color: #bcbcbc;
    min-width: calc(50% - 3px)
}

.footer-section .contact-info ul li a {
    transition: all .2s;
    position: relative;
    color: #bcbcbc
}

.footer-section .contact-info ul li a::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 5px;
    height: 1px;
    background: #bcbcbc;
    top: 49%;
    left: -12px
}

.footer-section .contact-info ul li a:hover {
    text-decoration: underline;
    color: #fff
}

.footer-section .contact-info iframe {
    margin-top: 6px;
    width: 114px;
    height: 35px;
    border: none
}

.footer-section .last-footer {
    border-top: 1px solid #2e2e2e;
    background: rgb(37, 35, 35);
    padding: 25px 0
}

.footer-section .last-footer .footer-content {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex
}

.footer-section .last-footer .footer-content p {
    font-size: 14px;
    color: #bcbcbc;
    margin: 5px 0
}

.footer-section .last-footer .footer-content .payment_gateway {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px 0
}

.footer-section .last-footer .footer-content .payment_gateway li {
    margin-left: 5px
}

.footer-section .last-footer .footer-content .payment_gateway li.opacity {
    margin-left: 0;
    width: 0
}

.footer-section .last-footer .footer-content .payment_gateway li:nth-child(2) {
    margin-left: 0
}

.footer-section .last-footer .footer-content .payment_gateway img {
    width: 40px;
    height: 25px
}

/*# sourceMappingURL=master.css.map */