/* header section start */
.header_section {
    background-image: url('../images/01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F8F8F8;
    overflow: hidden;
    .header_content {
        padding: 145px 0 25px;
        align-items: center;
        position: relative;
        min-height: 100vh;
        display: flex;
        h2 {
            margin-bottom: 15px;
            line-height: 56px;
            font-size: 50px;
            color: #fff;
            font-weight: 500;
        }
        h3 {
            margin-bottom: 15px;
            line-height: 35px;
            font-weight: 400;
            color: #fff;
        }
        p {
            line-height: 28px;
            font-weight: 300;
            max-width: 600px;
            font-size: 16px;
            color: #fff;
        }
        ul {
            max-width: 375px;
            flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            li {
                margin-bottom: 8px;
                font-weight: 300;
                font-size: 14px;
                width: 50%;
                a {
                    color: #fff;
                    &:hover {text-decoration: underline;}
                }
                i {
                    margin-right: 5px;
                    font-size: 17px;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .header_section {
        h2 {
            line-height: 48px !important;
            font-size: 40px !important;
        }
    }
}
/* header section end */



.title_area {
    margin-top: 6px;
    h2 {
        font-family: 'Poppins', sans-serif;
        line-height: 42px;
        font-weight: 700;
        font-size: 33px;
        color: #282828;
    }
    p {
        text-decoration: underline;
        margin-bottom: 60px;
        line-height: 21px;
        font-weight: 500;
        font-size: 14px;
        color: #888;
    }
}



/* about sections start */
.about_section {
    position: relative;
    background: #F8F8F8;
    padding: 75px 0;
    #single_about {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0;
        top: -75px;
        left: 0;
    }
    .about_contant {
        padding: 12px 0 25px;
        p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #494949;
        }
    }

    .accordion_content {
        &:first-child h6 {border-top: 1px solid #ebebeb;}
        h6 {
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            width: 100%;
            padding: 15px 0;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            color: #282828;
            line-height: 20px;
            border-bottom: 1px solid #ebebeb;
            cursor: pointer;
            position: relative;
            &::after {
                content: '';
                display: inline-block;
                width: 14px;
                background: #282828;
                position: absolute;
                right: 20px;
                height: 2px;
                top: 24px;
                z-index: 999;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 2px;
                background: #282828;
                position: absolute;
                right: 26px;
                height: 14px;
                top: 18px;
            }
        }
        .card-body {
            padding-left: 0;
            padding-right: 0;
        }
        &:hover {
            h6::after,
            h6.cola,
            h6::before {background: #174ee2;}
        }
        .collapse {
            position: relative;
            &.show {
                border-bottom: 1px solid #ebebeb;
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 2px;
                    height: 14px;
                    top: -33px;
                    right: 26px;
                    background: #fff;
                }
            }
        }

        p {
            font-size: 14px;
            color: #494949;
            line-height: 24px;
            margin: 0;
        }
    }
}
/* about sections end */



/* service ssections start */
.service_section {
    padding: 75px 0;
    background: #fff;
    .service_contant {
        padding: 12px 0 25px;
        p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #494949;
        }
    }
    .list_service {
        background: #F7F7F7;
        position: relative;
        min-height: 215px;
        padding: 35px 35px 20px;
        margin-top: 100px;
        img {
            position: absolute;
            height: 85px;
            top: -40px;
            left: 35px;
            &.vpn {height: 82px;}
            &.social {
                height: 104px;
                top: -54px;
            }
            &.cpa {
                height: 94px;
                top: -54px;
            }
            &.number {
                height: 75px;
                top: -38px;
            }
            &.google {
                height: 94px;
                top: -52px;
            }
        }
        a {
            font-family: 'Poppins', sans-serif;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            line-height: 29px;
            margin: 25px 0 6px;
            color: #282828;
            font-weight: 600;
            font-size: 24px;
            &:hover {color: #000;}
        }
    }
}
/* service sections end */


/* overlay style start */
#bkgOverlay {
    background: rgba(#000, .7);
    position: fixed;
    height: 100vh;
    z-index: 9999;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    #close_overly {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99999;
    }
    .overlay_cover {
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 45px;
        display: flex;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    #delayedPopup {
        display: inline-block;
        position: relative;
        user-select: none;
        max-width: 720px;
        z-index: 9999999;
        margin: 0;
        width: 100%;
        img {
            max-width: 100%;
            width: 100%;
        }
        #close_btn {
            background: url('../images/icon/close.png');
        	background-repeat: no-repeat;
            background-position: center;
            background-color: #047CBA;
            background-size: 50% 50%;
            border: 2px solid #fff;
            position: absolute;
            border-radius: 50%;
            height: 32px;
            right: -16px;
            z-index: 999;
            opacity: .8;
        	width: 32px;
            outline: none;
        	top: -16px;
        	&:hover {opacity: 1;}
        }
    }
}
/* overlay style end */
